<div class="dbtfy-smart-search" tabindex="-1">
  <div class="dbtfy-smart-search__wrapper{% if type == 'page' %} dbtfy-smart-search__wrapper--page overlay-content w-100{% endif %}">
    <div class="dbtfy-smart-search__section-title ss-loading text-center text-accent" hidden></div>

    <div class="dbtfy-smart-search__results" hidden></div>
  </div>
</div>
