<div id="CartModal" class="cart cart-modal modal drawer stacked-on-top-of-content cart--is-loading" role="dialog">
  <div class="modal__dialog">
    <div class="modal__content modal-medium overlay-content" aria-hidden="true" tabindex="-1">
      <div class="cart__loader">
        <span class="icon icon--spin me-0 text-secondary text-lg" aria-hidden="true"></span>
      </div>

      <div id="CartContainer" class="cart__content w-100"></div>
    </div>
  </div>
</div>

<div class="overlay-modal overlay-backdrop"></div>
