{%- liquid
  assign button_style = section.settings.button_style
  assign text = 'cart.cart_message.text' | t
  assign button_label = 'cart.cart_message.button_label' | t
-%}

<div class="dbtfy-cart-notification">
  {%- render 'notification-toast', toast_text: text, button_style: button_style, toast_button_label: button_label -%}
</div>

{% schema %}
{
  "name": "t:sections.addons.cart_notification.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.addons.help_center.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:general.addons.help_center.cart_notification.content"
    },
    {
      "type": "paragraph",
      "content": "t:general.addons.help_center.enable_disable.content"
    },
    {
      "type": "header",
      "content": "t:general.addons.settings.header.content"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:general.settings.button_style.label",
      "default": "btn--primary",
      "options": [
        {
          "value": "",
          "label": "t:general.settings.button_style.options__1.label"
        },
        {
          "value": "btn--primary",
          "label": "t:general.settings.button_style.options__2.label"
        },
        {
          "value": "btn--outline-primary",
          "label": "t:general.settings.button_style.options__3.label"
        },
        {
          "value": "text-link",
          "label": "t:general.settings.button_style.options__4.label"
        }
      ]
    }
  ]
}
{% endschema %}