<footer class="password-footer" role="contentinfo">
  <div class="container">
    <ul class="inline-list justify-content-center">
      <li>
        <span>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: '' }}</span>
      </li>

      <li>
        <a class="d-block" href="https://www.shopify.com/?ref=debutify&utm_campaign=theme-password" target="_blank" rel="nofollow" title="Create your own online store with Shopify">
          {%- render 'icon', icon: 'shopify-logo-color' -%}
        </a>
      </li>

      <li>
        <a class="d-block" href="https://debutify.com?utm_source={{ shop.domain }}&utm_medium=referral&utm_campaign=product-theme-footer-link" target="_blank" rel="nofollow" title="The World's #1 Free Shopify Theme">
          {%- render 'icon', icon: 'debutify-logo-dark' -%}
        </a>
      </li>
    </ul>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.main_password_footer.name",
  "settings": [

  ]
}
{% endschema %}
