{%- liquid
  assign heading = 'general.404.title' | t
  assign text = 'general.404.subtext_html' | t
  assign button_text = 'cart.general.continue_browsing_html' | t
-%}

<div class="section text-center">
  <div class="container">
    {%- render 'section-header', heading: heading, enlarge: true -%}

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="row gy-3">
          <p>{{ text }}</p>

          <div>
            <a href="{{ settings.continue_browsing_link }}" class="btn btn--primary">
              {{ button_text }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_not_found.name",
  "settings": [

  ]
}
{% endschema %}
